<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <!-- <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"> -->
        <link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    </head>
    <body>
        <h1>{{ blog.TITLE }}</h1>
        {% block navigation %}
        <nav>
            <ul>
                <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                <li><a href="{{ url_for('posts') }}">Posts</a></li>
                <li><a href="{{ url_for('media') }}">Media</a></li>
                <li><a href="{{ url_for('settings') }}">Settings</a></li>
            </ul>
        </nav>
        {% endblock %}
        <h2>{{ self.title() }}</h2>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <section>
            {% block content %}{% endblock %}
        </section>
        <footer>
            <p>Proudly Powered by <a href="http://yak.limelog.net/">Yak</a> and <a href="http://flask.pocoo.org/">Flask</a></p>
        </footer>
    </body>
</html>
