{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<h3>Quick Post</h3>
<form action="{{ url_for('new') }}" method="POST">
    <input type="hidden" name="referer" value="dashboard.html">
    <input type="text" name="filename" value="{{ filename }}">
    <textarea name="markdown" rows="4">{{ markdown }}</textarea>
    <ul>
        <li><input type="submit" name="action" value="save as draft"></li>
        <li><input type="submit" name="action" value="publish now"></li>
    </ul>
</form>
{% endblock %}
