{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<h2>Quick Post</h2>
<form action="{{ url_for('new') }}" method="POST">
    <input type="hidden" name="referer" value="dashboard.html">
    <input type="text" name="filename" value="{{ filename[:-3] }}">
    <textarea name="markdown" rows="4">{{ markdown }}</textarea>
    <ul>
        <li><input type="submit" name="action" value="Save as Draft"></li>
        <li><input type="submit" name="action" value="Publish Now"></li>
    </ul>
</form>
<h2>Yak Updates and Related News</h2>
<ol>
    <li>2012-12-12<a href="#">Blog hosting service, Yak (Shaving)</a></li>
    <li>2012-12-12<a href="#">A web interface for Yak with Mercurial</a></li>
    <li>2012-12-12<a href="#">Yak Released: The Making Of Yak</a></li>
</ol>
{% endblock %}
