{% extends "base.html" %}
{% block title %}Edit Post{% endblock %}

{% block content %}
<form action="{{ url_for('edit', filename=filename) }}" method="POST">
    <input type="text" name="filename" value="{{ filename }}"><br />
    <textarea name="markdown" rows="10" cols="40">{{ markdown }}</textarea><br />
    <input type="submit" name="action" value="{{ action }}">
</form>
{% if past %}
<a href="{{ url_for('edit_revision', filename=filename, revision=past) }}">View past version</a>
{% endif %}
{% if future %}
<a href="{{ url_for('edit_revision', filename=filename, revision=future) }}">View future version</a>
{% endif %}
{% endblock %}
