{% extends "base.html" %}
{% block title %}Set up a new Yak blog.{% endblock %}
{% block navigation %}{% endblock %}

{% block content %}
<h2>{{ self.title() }}</h2>
<form method="POST" action="{{ url_for('init') }}">
    <h3>About this blog:</h3>
    <table>
        <tr>
            <th>Author</th>
            <td><input name="AUTHOR" type="text" size="40" value="{{ blog.AUTHOR }}" /></td>
        </tr>
        <tr>
            <th>Title</th>
            <td><input name="TITLE" type="text" size="40" value="{{ blog.TITLE }}" /></td>
        </tr>
        <tr>
            <th>Subtitle</th>
            <td><input name="SUBTITLE" type="text" size="40" value="{{ blog.SUBTITLE }}" /></td>
        </tr>
        <tr>
            <th>URL</th>
            <td><input name="URL" type="text" size="40" value="{{ blog.URL }}" /></td>
        </tr>
    </table>
    <h3>This blog will be baked to:</h3>
    <input name="OUTPUT_DIRECTORY" type="text" size="20" value="{{ blog.OUTPUT_DIRECTORY }}" />
    <p><input type="submit" value="Save" /></p>
</form>
{% endblock %}
