{% extends "base.html" %}
{% block title %}Set up a new Yak blog.{% endblock %}
{% block navigation %}{% endblock %}

{% block content %}
<form method="POST" action="{{ url_for('init') }}">
    <h3>About this blog:</h3>
    <table>
        <tr>
            <th>Author</th>
            <td><input name="AUTHOR" type="text" size="40" value="{{ blog.AUTHOR }}" /></td>
        </tr>
        <tr>
            <th>Title</th>
            <td><input name="TITLE" type="text" size="40" value="{{ blog.TITLE }}" /></td>
        </tr>
        <tr>
            <th>Subtitle</th>
            <td><input name="SUBTITLE" type="text" size="40" value="{{ blog.SUBTITLE }}" /></td>
        </tr>
        <tr>
            <th>URL</th>
            <td><input name="URL" type="text" size="40" value="{{ blog.URL }}" /></td>
        </tr>
        <tr>
            <th>Rights</th>
            <td><input name="RIGHTS" type="text" size="40" value="{{ blog.RIGHTS }}" /></td>
        </tr>
    </table>
    <h3>This blog will be baked to:</h3>
    <table>
        <tr>
            <th>Output Directory</th>
            <td><input name="OUTPUT_DIRECTORY" type="text" size="20" value="{{ blog.OUTPUT_DIRECTORY }}" /></td>
        </tr>
    </table>
    <h3>Blog management server settings:</h3>
    <table>
        <tr>
            <th>Username</th>
            <td><input name="USERNAME" type="text" size="30" value="{{ blog.USERNAME }}" /></td>
        </tr>
        <tr>
            <th>Password</th>
            <td><input name="PASSWORD" type="password" size="30" value="{{ blog.PASSWORD }}" /></td>
        </tr>
    </table>
    <input name ="SECRET_KEY" type="hidden" value="{{ blog.SECRET_KEY }}" />
    <p><input type="submit" value="Save" /></p>
</form>
{% endblock %}
