{% extends "base.html" %}
{% block title %}Media Library{% endblock %}

{% block content %}
<h3>Upload New</h3>
<form action="{{ url_for('media') }}" method="POST" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="submit" value="Upload">
</form>
<h3>Recent Uploads</h3>
<select name="action">
    <option value="-1" selected="selected">bulk actions</option>
    <option value="trash">trash</option>
</select>
<table>
     <tr>
        <th></th>
        <td>actions</td>
        <td>filename</td>
    </tr>
    {%- for media in medialist[:50] -%}
    <tr>
        <th><input scope="row" type="checkbox" value="1"></th>
        <td>
            <a href="{{ url_for('trash_media', filename=media.filename) }}">Trash</a>
        </td>
        <td><a href="{{ url_for('media') }}{{ media.filename }}">{{ media.filename }}</a></td>
    </tr>
    {%- endfor %}
</table>
{% endblock %}
