{% extends "base.html" %}
{% block title %}Media Library{% endblock %}

{% block content %}
<h2>Media Library</h2>
<form action="{{ url_for('media') }}" method="POST" enctype="multipart/form-data">
    <ul>
        <li><input type="file" name="file"></li>
        <li><input type="submit" value="Upload"></li>
    </ul>
</form>
{% if medialist %}
<ol>
{%- for filename in medialist[:50] -%}
<li>
    <a href="{{ url_for('remove_media', filename=filename) }}" class="remove mono">X</a>
    <a href="{{ url_for('media') }}{{ filename }}" class="mono">{{ filename }}</a>
</li>
{%- endfor %}
</ol>
{% else %}
<h2>There are no media files.</h2>
{% endif %}
{% endblock %}
