{% extends "base.html" %}
{% block title %}New Post{% endblock %}

{% block content %}
<h2>New Post</h2>
<form action="{{ url_for('new') }}" method="POST">
    <input type="hidden" name="referer" value="new_post.html">
    <input type="text" name="filename" value="{{ filename[:-3] }}">
    <textarea name="markdown" rows="4">{{ markdown }}</textarea>
    <ul>
        <li><input type="submit" name="action" value="Save as Draft"></li>
        <li><input type="submit" name="action" value="Publish Now"></li>
    </ul>
</form>
{% endblock %}
