{% extends "base.html" %}
{% block title %}Posts{% endblock %}

{% block content %}

<h2>Drafts &mdash; <a href="{{ url_for('new') }}">New Post</a></h2>
{% if drafts %}
<ol>
{%- for filename in drafts -%}
    <li>
        <a href="{{ url_for('remove', filename=filename) }}" class="remove mono">X</a>
        <a href="{{ url_for('move', filename=filename) }}" class="mono">P</a>
        <a href="{{ url_for('edit', filename=filename) }}" class="mono">{{ filename[:-3] }}</a>
    </li>
{%- endfor %}
</ol>
{% else %}
<p>There are no draft posts.</p>
{% endif %}

<h2>Published &mdash; <a href="{{ url_for('blog_view') }}">View</a></h2>
{% if publish %}
<ol>
{%- for filename in publish -%}
    <li>
        <a href="{{ url_for('remove', filename=filename) }}" class="remove mono">X</a>
        <a href="{{ url_for('move', filename=filename) }}" class="mono">D</a>
        <a href="{{ url_for('edit', filename=filename) }}" class="mono">{{ filename[:-3] }}</a>
    </li>
{%- endfor %}
</ol>
{% else %}
<p>There are no published posts.</p>
{% endif %}

{% endblock %}
