{% extends "base.html" %}

{% block title %}{{ blog.TITLE }}{% endblock %}
{% block content %}
{% for post in posts[:20] %}
<article>
    <header>
        {% if post.link %}
        <h1><a href="{{ post.link }}">{{ post.title }}</a></h1>
        <time datetime="{{ post.published_rfc3999 }}" pubdate>{{ post.published_humanized }}</time>
        <a href="{{ post.url.year }}/{{ post.url.month }}/{{ post.url.day }}/{{ post.slug }}/" class="permalink">∞</a>
        {% else %}
        <h1><a href="{{ post.url.year }}/{{ post.url.month }}/{{ post.url.day }}/{{ post.slug }}/">{{ post.title }}</a></h1>
        <time datetime="{{ post.published_rfc3999 }}" pubdate>{{ post.published_humanized }}</time>
        {% endif %}
    </header>
    {{ post.html }}
</article>
{% endfor %}
<nav>
    <h1>Monthly Archives</h1>
    <ol>
        {% for month in months %}
        <li><a href="{{ month.url }}">{{ month.title }}</a></li>
        {% endfor %}
    </ol>
    <h1>Yearly Archives</h1>
    <ol>
        {% for year in years %}
        <li><a href="{{ year.url }}">{{ year.title }}</a></li>
        {% endfor %}
    </ol>
</nav>
{% endblock %}
