{% extends "base.html" %}

{% block title %}{{ post.title }} &mdash; {{ blog.TITLE }}{% endblock %}
{% block relative %}../../../../{% endblock %}

{% block content %}
<article>
    <header>
        {% if post.link %}
        <h1><a href="{{ post.link }}">{{ post.title }}</a></h1>
        {% else %}
        <h1>{{ post.title }}</h1>
        {% endif %}
        <time datetime="{{ post.published_rfc3999 }}" pubdate>{{ post.published_humanized }}</time>
    </header>
    {{ post.html }}
</article>
{% endblock %}
