body {
    font-family: 'PT Serif';
    max-width: 600px;
}

@media (min-width: 600px) {
    body {
        margin: 0 auto;
    }
}

.permalink:before {
    content: " • ";
    color: #C4D4CB;
}

.permalink {
    text-decoration: none;
    font-family: 'Georgia'; 
}

article sup { line-height: 0; vertical-align: super; }
article img { max-width: 100%; text-align: center; }
article pre { overflow: auto; }
article [controls] { width: 100%; } 
article:after, nav:after {
    content: "◆";
    color: #F4F4F4;
    display: block;
    text-align: center;
}
