body {
    font-family: 'PT Serif';
    max-width: 640px;
}

@media (min-width: 640px) {
    body {
        margin: 0 auto;
    }
}

.permalink:before {
    content: " • ";
    color: #C4D4CB;
}

.permalink {
    text-decoration: none;
    font-family: 'Georgia'; 
}

body>header { margin: 1em 0 2em; }
body>header h1 { display: inline; }

article sup { line-height: 0; vertical-align: super; }
article img, article iframe { max-width: 100%; display: block; margin: 1em auto; }
article pre { overflow: auto; }
article [controls] { width: 100%; } 
article:after, nav:after {
    content: "◆";
    color: #F4F4F4;
    display: block;
    text-align: center;
}

section ol, nav ol {
    list-style: none;
    padding-left: 0;
}
