html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; } 

a, a:visited {
    text-decoration: none;
    color: #21759B;
}

h1, nav, footer {
    text-align: center;
}

body {
    background-image: url('http://subtlepatterns.com/patterns/lightpaperfibers.png');
    font-family: 'Georgia';
    max-width: 640px;
}

@media (min-width: 640px) {
    body {
        margin: 0 auto;
    }
}

h1 {
    margin-top: 1em;
    font-size: 2em;
}

nav {
    margin: 2em 0;
}

nav li {
    display: inline;
    margin-left: 1em;
}

nav li:last-child {
    margin-right: 1em;
}

body>ul {
    color: #333;
    margin-bottom: 1em;
}

body>ul li {
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: #DFDFDF;
    margin-bottom: 0.5em;
}

footer {
    margin: 2em 0;
}

section, body>ul {
    padding: 0 1em;
}

section h2 {
    margin: 1em 0;
    font-size: 1.2em;
}

table td, textarea, input[type="text"] {
    font-family: 'Menlo', monospace;
    width: 100%;
    box-sizing: border-box;
}

.mono {
    font-family: 'Menlo', monospace;
}

section ul {
    margin-top: 1em;
    text-align: center;
}

section ul li {
    display: inline;
}

section ol li {
    margin: 0.5em 0;
}

section ol li a {
    margin-left: 0.5em;
}

.remove, .remove:visited {
    color: #BC0B0B;
}

section table th {
    padding-right: 1em;
}

section input[type="file"] {
    margin-bottom: 1em;
}
